apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: secure-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo-container
        image: nginx:1.25
        resources:
          limits:
            cpu: "500m"
            memory: "256Mi"
        securityContext:
          privileged: false
